html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', san-serif;
  font-weight: 400;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
}

.page-header {
  padding-top: 42px;
  margin-bottom: 30px;
}

.logo {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  color: #515151;
  display: inline-block;
}

.logo::first-letter {
  color: #1abc9c;
  font-family: Roboto;
  font-weight: 900;
}

.site-navigation {
  float: right;
}

.site-navigation-item {
  margin-right: 20px;
  display: inline-block;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  display: block;
  color: #0f0101;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
}

li {
  list-style: none;
  float: left;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*для адекватной работы изображений*/

.slider {
  background-image: url(../img/baner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-title {
  position: relative;
  min-height: 600px;
}

.slider-ctrl {
  display: inline-block;
  width: 104px;
  height: 104px;
  border: 0;
  background-color: rgba(78, 198, 171, 0.65);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 100px;
  cursor: pointer;
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slides-list {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translateY(-50%);
  width: 790px;
  list-style: none;
}

.slides-item p {
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.slides-title {
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
}

.slides-descr {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 32px;
}

.arrow {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.main-title {
  margin: 0 auto;
  text-align: center;
  color: #515151;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 130px;
}

h2::after {
  content: " ";
  margin: 0 auto;
  background: #1abc9c;
  height: 7px;
  display: block;
  width: 164px;
  margin-top: 12px;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-list-item {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0px;
  width: 255px;
  height: 322px;
  list-style: none;
  position: relative;
}

/*1. указываем, элемент, от которого будет вестись отсчет положения абсолютно позиционированных элементов*/

.features-list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.features-list li:nth-child(4n) {
  margin-right: 0;
}

.features-list-descr {
  position: absolute;
  /*2. поднимаем над потоком*/
  bottom: 0;
  /*3. прижимаем к низу его родителя. в данном случае li*/
  text-transform: uppercase;
}

.features-list-name,
.features-list-price {
  float: left;
  margin: 0;
  font-size: 18px;
  font-family: OpenSans;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
}

.features-list-name {
  width: 200.5px;
  background-color: #323232;
  padding-left: 14px;
  padding-right: 14px;
}

.features-list-price {
  width: 54.5px;
  background-color: #8c8c8c;
  text-align: center;
}

.features-list li:hover .features-list-name {
  background-color: #1abc9c;
}

.features-list li:hover .features-list-price {
  background-color: rgba(18, 231, 221, 0.44);
}

.features-list-item {
  cursor: pointer;
}

.section-main {
  background: #e9f0fd;
  background-size: cover;
  padding: 110px 0;
}


.order {
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #323232;
  width: 164px;
  height: 48px;
  opacity: 0;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: OpenSans;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
}

.order-image {
  background-color: transparent;
  display: inline-block;
}

.order-image,
.order-add {
  float: left;
  margin: 0;
  padding-right: 5px;
  font-size: 18px;
  font-family: OpenSans;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
}

.features-list-item:hover .order {
  opacity: 1;
}

.features-list-item:hover .social-icons {
  opacity: 1;
  border-color: #ffffff;
}

.order:hover {
  background-color: #1abc9c;
}

.social-icons li:hover {
  background-color: #1abc9c;
}

.features-list-item:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  width: 250px;
  height: 280px;
  background-color: #8c8c8c;
  opacity: 0;
  top: 1%;
  left: 1%;
}

.social-icons {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 164px;
  height: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  float: left;
  margin-right: 4px;
}

.social-icons a {
  display: block;
  height: 50px;
  width: 50px;
  padding: 0px;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.social-icons li:last-child {
  margin-right: 0;
}


footer {
  background: #323232;
  height: 88px;
  background-size: cover;
}

.colortext {
  color: #06cadb;
}

.rights {
  text-align: center;
  display: block;
  padding-top: 20px;
}
