html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

body {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 400;
    color: #626262;
    font-size: 14px;
    line-height: 24px;   
}

.wrapper{
    padding-top: 44px;
	width: 900px;
	margin:auto;
}

.site-navigation {
  margin:0;
  padding:0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

.site-navigation-item{
  margin-right: 50px; 
  display: inline-block;
}

.site-navigation li:last-child{
  margin-right: 0; 
}


.site-navigation a{
  display: block;
	color:#626262;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus{
	color: hsl(231, 100%, 50%);;
}
.main{
    padding-top: 115px;
    width:900px;
    margin:0 auto;  
}
.main div{
    display: inline-block;

}
.activities-list-slogan{
    font-family: Ubuntu;
    color:  #b4ad9e;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}
.activities-list-item{
    align-content:center;
    margin-left: 150px;
    width:400px;
    display: inline-block;
}
.activities-list-about{
    width:400px;
}

.footer{ 
    margin:0 auto;
    width: 900px;
    text-align:center
}
.btn {
    width: 100px;
    height: 35px;
}