
html{
	box-sizing:border-box;
    }

*,
*::before, 
*::after {
	box-sizing: inherit;
         }
.visuallyhidden {
    border:0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding:0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

body {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 400;
    color: #626262;
    font-size: 14px;
    line-height: 24px;   
}

.wrapper{
    padding-top: 44px;
	width: 900px;
    margin:auto;
    text-align: center;
}

.site-navigation {
  margin:0;
  padding:0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

.site-navigation-item{
  margin-right: 50px; 
  display: inline-block;
}

.site-navigation li:last-child{
  margin-right: 0; 
}


.site-navigation a{
  display: block;
	color:#626262;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus{
	color: hsl(231, 100%, 50%);;
}
.page-header{
    margin-bottom: 115px;
}
.main{
    padding-top: 115px;
    width:900px;
    margin:0 auto;
    
}
.main div{
    display: inline-block;

}
.activities {
    margin:0px;
}
.activities-list{
margin:0px;
padding: 0px;
font-size: 0px;
}
.activities-list-name{
    font-family: Ubuntu;
    color:  #b4ad9e;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin:0;
    margin-bottom:40px;
    
}
h3{
font-family: PlayfairDisplay;
color:  #626262;
font-size: 30px;
font-weight: 400;
text-align: left;
margin:0;
margin-bottom: 40px;
}

.activities-list-item{
    align-content:center;
    margin-right: 60px;
    width:420px;
    margin-bottom: 130px;
    display: inline-block;
}
.activities-list-image{
    margin-bottom: 20px;
} 
.activities-list-item:nth-child(2n) {
    margin-right: 0;
    }
.activities-list-item:nth-last-child(-n + 2) {
        margin-bottom: 0;
        }
.activities-list-about{
    
    font-family: PlayfairDisplay;
    color:  #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin:0;
   
}


.btn {
font-size: 20px;
line-height: 24px;
color: #626262;
background-color: #ffffff;
font-family: 'Playfair Display', serif;
border: 1px solid #626262;
padding: 22px 35px;
cursor: pointer;
display: block;
margin: 0 auto;
margin-top: 50px;
}

.btn:hover,
.btn:focus{
	color: hsl(231, 100%, 50%);;
    }
