html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	padding-top: 25px;
	padding-bottom: 50px;
	align-items: center;
}

.page-nav {
	display: flex;
}

.logo {
	margin: 0;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #95e1d3;
	text-decoration: none;
}

.logo::first-letter {
	color: #95e1d3;
	text-transform: uppercase;
}

/* site navigation */
.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-direction: row;
	height: 25px;
	margin: 0;
	padding: 0;
}

.site-navigation-item a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #95e1d3;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	margin-right: 20px;
}

.site-navigation-item a:hover::after {
	content: " ";
	background: #f38181;
	height: 3px;
	display: block;
	width: 100%;
	margin-top: 12px;
	position: absolute;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #f38181;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.services {
	padding-bottom: 90px;
}

h1 {
	margin: 0 auto;
	text-align: center;
}

h2 {
	margin: 0 auto;
	text-align: center;
}

h3 {
	margin: 0 auto;
	text-align: center;
}

.main-title-one {
	font-family: 'Kaushan Script', cursive;
	margin: 0 auto;
	color: #333333;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 20px;
	line-height: 32px;
}

.main-title-two {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
}

h2::after {
	content: " ";
	margin: 0 auto;
	background: #f38181;
	height: 3px;
	display: block;
	width: 60px;
	margin-top: 40px;
	margin-bottom: 50px;
}

/* FEATURES SECTION */

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.features-list-item {
	flex: 0 0 370px;
	margin-bottom: 72px;
	padding: 0 60px;
	text-align: center;
}

.features-list-item .features-list-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.article-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-bottom: 100px;
}

.article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	width: 380px;
	height: 80px;
	margin-top: 100px;
}

.article-title {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 0;
	left: 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-left: 30px;
}

.article-text {
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #999999;
	text-align: left;
	padding-left: 30px;
}

.features-list-item h4 {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	line-height: 17px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
}

.features-list-item p {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;
	text-align: left;
	width: 270px;
}

.text {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #999999;
	text-align: center;
	margin-bottom: 96px;
}

.team-container {
	margin-bottom: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 80px;
	border-bottom: #e5e5e5 solid;
	margin-bottom: 20px;
	border-bottom-width: 1px;
}

.team-list-name {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
	height: 100%;
	color: #333333;
	margin-top: 30px;
	padding: 0;
}

.team-list-occupation {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	background-color: white;
	height: 100%;
	color: #a6a6a6;
	margin: 0;
	padding: 0;
}

.team-box {
	margin-right: 29px;
	width: 380px;
}

.team-box:last-child {
	margin-right: 0;
}

.card {
	position: relative;
	margin: 0;
}

.card-background {
	background: #95e1d3;
}

.card-overlay {
	position: absolute;
	opacity: 0;
	background-image: linear-gradient (to bottom, rgba(252, 222, 138, 0.9) 0%, rgba(243, 133, 129, 0.9) 100%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition-duration: 200ms;
	transition-timing-function: linear;
}

.card:hover .card-overlay {
	opacity: 1;
	background-image: linear-gradient(to bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 139, 129, 0.9) 100%);
}

.card:hover {
	transform: translate(-10px, -10px);
	transition-duration: 200ms;
	transition-timing-function: linear;
}

.social-icons {
	position: relative;
	left: 68%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.icon {
	display: inline-block;
	width: 55px;
	height: 55px;
	background-color: #fce38a;
	margin: 1px;
	border: 0;
	background-repeat: no-repeat;
	background-position: 0em;
	cursor: pointer;
}

.icon:hover {
	background-color: #95e1d3;
}

.facebook {
	background-image: url(../img/facebook.png);
	background-position: center;
	background-repeat: no-repeat;
}

.twitter {
	background-image: url(../img/twitter.png);
	background-position: center;
	background-repeat: no-repeat;
}

.pinterest {
	background-image: url(../img/pinterest.png);
	background-position: center;
	background-repeat: no-repeat;
}

.instagram {
	background-image: url(../img/instagram.png);
	background-position: center;
	background-repeat: no-repeat;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1200px;
	margin-top: 10px;
}

.form {
	display: flex;
	flex-direction: row;
}

.sign {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
}

.sign a {
	text-decoration: none;
}

.subscribe {
	height: 38px;
	width: 150px;
	text-transform: uppercase;
	background-color: #95e1d3;
	color: #ffffff;
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	height: 38px;
	font-style: italic;
	border-right: 0;
	margin: 0;
	padding: 0;
	size: 28px;
}
