html{
	box-sizing:border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}
*{
  margin:0;
  padding:0;
    }

body {
  font-family:"Playfair Display", "Times New Roman", serif;
  font-weight: 400;
  color: #626262;
  font-size: 14px;
  line-height: 24px;   
}
.wrapper{
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
  }
.page-header{
  padding-top: 42px;
  margin-bottom: 110px;
  }

.logo{
  /*float:left;*/
  /*width:200px;*/ 
  text-transform: uppercase;
  font-family:'Roboto', sans-serif;;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  color:  #515151; 
  display:block;
}
.logo::first-letter{
  color: #1abc9c;
  font-family:Roboto;
  font-weight: 900;
}


.site-navigation{
  float:right;
}
.site-navigation-item{
  margin-right: 20px; 
  display: inline-block;
  }
 

  .site-navigation li:last-child{
    margin-right: 0; 
  }

  .site-navigation a{
    display: block;
    color: #0f0101;
    font-family: OpenSans;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
  }

  
li{
list-style:none;
float:left;
}

.site-navigation a:hover,
.site-navigation a:focus{
	color:#1abc9c;;
}
.clearfix::after{
content:"";
display:table;
clear:both;
}
h1{
margin:0 auto;
text-align: center;
}
.main-title{
    margin:0 auto;
    text-align: center;
    color:  #515151;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
    font-family: OpenSans;
    text-transform: uppercase;
    margin-bottom: 130px;
    }

h2::after{
content:" ";
margin:0 auto;
background:#1abc9c;
height: 7px;
display:block;
width: 164px;
margin-top: 12px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }/*для адекватной работы изображений*/
  
  
  
  .features-list{
    margin: 0;
    padding: 0;
  }
  
  .features-list-item{
    float: left;
    margin-right: 30px;
    margin-bottom:30px;
    padding:0px;
    width: 255px;
    height: 322px;
    list-style: none;
    position: relative;/*1. указываем, элемент, от которого будет вестись отсчет положения абсолютно позиционированных элементов*/
  }
  
  .features-list-item:nth-last-child(-n+4){
    margin-bottom: 0;
  }
  .features-list li:nth-child(4n) {
    margin-right: 0;
    }

  .features-list-descr{
    position: absolute;/*2. поднимаем над потоком*/
    bottom: 0; /*3. прижимаем к низу его родителя. в данном случае li*/
    text-transform: uppercase;
  }
  
  .features-list-name,
  .features-list-price{
    float: left;
    margin: 0;
    font-size: 18px;
    font-family: OpenSans;
    color:#fff;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 600;   
  }
  
  
  .features-list-name{
    width: 200.5px;
    background-color: #323232;
    padding-left:14px;
    padding-right:14px;
  }
  
  .features-list-price{
    width:54.5px;
    background-color: #8c8c8c;
    text-align: center;
  }
  
  .features-list li:hover .features-list-name{
    background-color: #1abc9c;
  }
  
  .features-list li:hover .features-list-price{
    background-color: rgba(18, 231, 221, 0.44);
  }
  
  .features-list-item{
    cursor:pointer;
  }
  .features-list-2-image{
    margin-bottom: 20px;
  }
  .lorem {
    
      color:  #555252;
      font-family:serif;
      font-weight:bold;
      line-height: 18px;
      text-align: left;
      font-size: 18px;
      margin:0px;
      margin-bottom: 50px;
      
    } 
   .lorem::after{
        content:" ";
        background:#1abc9c;
        height: 3px;
        display:block;
        width: 136px;
        margin-left: 0px;
        margin-top: 20px;
      }
    .lorem2 {
          width:325px;
          margin-bottom: 50px;
          color:  #555252;
          font-family:serif;
          font-weight: 400;
          line-height: 26px;
          font-size:14px;
          text-align: left;
          margin:0px;

         
           
    } 
 
  .btn {
    width: 160px;
    margin:0px;
    border:0px;
    line-height: 26px;
    border-radius: 3px;
    padding: 15px 44px;
    background-color:  #4ec6ab;
    color:#ffffff;
    text-align:center;
    text-decoration: none;
    display:block;
    
}

.features-list-2{
  margin: 0px;
  padding:0px;
}

.features-list-item-2{
  float: left;
  margin-right:30px;
  padding:0px;
  width: 350px;
  height: 261px;
  list-style: none;
}

.features-list-2 li:last-child{
  margin-right: 0px;
}
.section1{
  margin-bottom: 100px;
}
.section2{
  margin-bottom: 50px;
}